<mat-card>
  <mat-card-header>
    <mat-card-title>My Todo's</mat-card-title>
  </mat-card-header>

  <mat-card-content>

<!--    <form ngNativeValidate #myForm="ngForm" (submit)="add_todo()">
      <div fxLayout="row" fxLayoutAlign="center start">
        <mat-form-field fxFlex="4 1 auto">
          <input matInput placeholder="할일" [(ngModel)]="newTodo.todo" name="todo" required>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" fxFlex="1 1 auto">추가</button>
      </div>
    </form>-->

    <form #myForm="ngForm" (ngSubmit)="add_todo()">
      <div fxLayout="row" fxLayoutAlign="center start">
        <mat-form-field fxFlex="4 1 auto">
          <input matInput placeholder="할일" [(ngModel)]="newTodo.todo" name="todo" #name="ngModel" required>
          <mat-hint align="start" style="color: red;">{{!name.value? '할일을 입력하세요' : ''}}</mat-hint>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" fxFlex="1 1 auto" [disabled]="!myForm.form.valid">추가</button>
      </div>
    </form>

    <hr>

    <div class="table mt-1">
      <div class="thead tr">
        <div class="th">완료</div>
        <div class="th" fxFlex="30">todo</div>
        <div class="th" fxHide.xs>생성일</div>
        <div class="th" fxHide.xs>수정일</div>
        <div class="th">삭제</div>
      </div>
      <ng-template ngFor let-item [ngForOf]="todoList">
        <div class="tbody tr" *ngIf="!item.isEdited" [@flyInOut] = "'in'" appHighlight [highlightColor]="'#C8FFFF'">
          <div class="td">
            {{item.isFinished ? '완료' : '미완료'}}
          </div>
          <div class="td" [class.todo_canceled]="item.isFinished" fxFlex="30">{{item.todo}}</div>
          <div class="td" fxHide.xs>{{item.created | myDate: 'aaa'}}</div>
          <div class="td" fxHide.xs>{{item.updated | date: 'yyyy-MM-dd HH:mm'}}</div>
          <div class="td">
            <button mat-raised-button color="accent" (click)="save(item)">수정</button>
            <button mat-raised-button color="warn" (click)="remove(item)">삭제</button>
          </div>
        </div>
        <div class="tbody tr" *ngIf="item.isEdited" [@flyInOut] = "'active'">
          <div class="td">
            <input type="checkbox" [(ngModel)]="item.isFinished">
          </div>
          <div class="td" [class.todo_canceled]="item.isFinished">
            <input [(ngModel)]="item.todo">
          </div>
          <div class="td" fxHide.xs>{{item.created | myDate}}</div>
          <div class="td" fxHide.xs>{{item.updated | date: 'yyyy-MM-dd HH:mm'}}</div>
          <div class="td">
            <button mat-raised-button color="accent" (click)="modify(item)">저장</button>
            <button mat-raised-button color="warn" (click)="restore(item)">취소</button>
          </div>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
