<router-outlet></router-outlet>

<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-title>
      뉴스 목록
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="board-box" fxLayout="column" *ngFor="let news of newsList" (click)="gotoView(news)">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <p>
          <span>{{news.title}}</span>
          <span *ngIf="news.comment_count" class="comment-count">[{{news.comment_count}}]</span>
        </p>
        <span>{{news.updated}}</span>
      </div>
    </div>

    <mat-paginator [length]="page.totalCount" [pageIndex]="page.pageIndex"
                   [pageSize]="page.pageSize"
                   [pageSizeOptions]="page.pageSizeOptions" (page)="pageChanged($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
