<div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-around center" fxLayoutWrap="wrap">
  <mat-card fxFlex.gt-xs="48" class="box">
    <mat-card-header>
      <mat-card-title>
        jquery
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <p>Bootstrap을 사용하여 화면 꾸미기</p>
      <p>angular 내에서 jquery 사용하는 방법</p>
      <p>jquery를 사용하여 CRUD 기능 구현</p>
      <p>javascript dom과 비교</p>
      <p>ajax를 사용하여 비동기 로직 구현</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="48">
    <mat-card-header>
      <mat-card-title>
        angular
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>서버 구현 없이 로컬로 angular 기본 기능 구현</p>
      <p>sass를 사용하여 움직이는 효과 버튼 구현</p>
      <p>angular animation 구현</p>
      <p>pipe 및 directive 구현</p>
      <p>템플릿 문법 및 바인딩</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="48">
    <mat-card-header>
      <mat-card-title>
        http
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>http 모듈 구현</p>
      <p>서비스 이해, Dependancy Injection 개념 잡기</p>
      <p>postman으로 REST api 검증하기</p>
      <p>Promise 와 Observable 이해</p>
      <p>ng template 사용하여 수정기능</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="48">
    <mat-card-header>
      <mat-card-title>
        news
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>퍄이어베이스 연동하여 로그인 구현</p>
      <p>jwt 이해 및 구현</p>
      <p>canload, canactivated의 Router 고급 기능</p>
      <p>댓글 로직 구현</p>
      <p>폼 유효성 검증</p>
    </mat-card-content>
  </mat-card>

</div>
