<div fxLayout.xs="column" fxLayout.gt-xs="row wrap" fxLayoutAlign.gt-xs="space-around start">
  <mat-card fxFlex.gt-xs="48" class="box">
    <mat-card-header>
      <mat-card-title>
        1주차 - 튜토리얼 오버뷰
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <p>* 개발환경 설정 - node, git, angular-cli 설치</p>
      <p>* 개발툴 - webstorm 설치 및 사용법 소개</p>
      <p>* GIT 개요 및 github사용법 소개</p>
      <p>* angular 프로젝트 생성</p>
      <p class="ml-1">- angular-cli 사용법</p>
      <p class="ml-1">- angular 프로젝트 구조 분석</p>
      <p>* tour of heroes 튜토리얼 오버뷰</p>
      <p class="ml-1">- 모듈의 이해</p>
      <p class="ml-1">- 템플릿과 데이터 바인딩: one way, two way binding</p>
      <p class="ml-1">- 바인딩 종류: property 바인딩, class 바인딩, style 바인딩</p>
      <p class="ml-1">- 서비스: IOC 컨테이너, DI 패턴 이해</p>
      <p class="ml-1">- 라우팅과 내비게이션 초급</p>
      <p>* es5 복습</p>
      <p class="ml-1">- 객체생성방법, this의 의미 이해</p>
      <p class="ml-1">- 패턴 이해: 네임스페이스패턴, IIFE 등 패턴 학습</p>
      <p>* es6 신규 기능 학습</p>
      <p class="ml-1">- 호이스팅, 표현식, 리터럴객체, 안티패턴</p>
      <p class="ml-1">- arrow 펑션과 lexical this</p>
      <p class="ml-1">- 컬렉션(Set/Map), 클래스, 객체생성, 상속</p>
      <p>* angular 비동기 처리 이해</p>
      <p class="ml-1">- es6 표준 Promise 이해 및 구현 실습</p>
      <p class="ml-1">- RxJS 비동기 처리 이해 및 구현 실습</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="48">
    <mat-card-header>
      <mat-card-title>
        2주차 - todo 프로젝트
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>* <a href="https://material.angular.io">머티리얼 디자인으로</a> 화면 만들기</p>
      <p class="ml-1">- 툴바 모듈, 카드 모듈, 버튼 모듈, 폼 모듈, 메뉴 모듈</p>
      <p>* <a href="https://github.com/angular/flex-layout/wiki/API-Documentation">flex layout</a> 으로 화면 배치하기</p>
      <p>* SASS 학습</p>
      <p class="ml-1">- 움직이는 버튼 만들기</p>
      <p class="ml-1">- 변수, 네스팅, 임포트, 내장함수, 믹스인 활용</p>
      <p>* 프로젝트에 sass 적용하는 방법</p>
      <p class="ml-1">- table 태그를 flex layout 으로 변경하기</p>
      <p class="ml-1">- margin, padding등의 헬퍼 클래스 쉽게 만들기</p>
      <p>* template-driven form 구현</p>
      <p class="ml-1">- html5 폼 api 이해</p>
      <p class="ml-1">- todo 등록화면 template-driven 폼 적용 및 유효성검증</p>
      <p>* Http 서비스 구현</p>
      <p class="ml-1">- RFC 2616 Http 프로토콜 오버뷰</p>
      <p class="ml-1">- postman을 활용한 REST api 테스트</p>
      <p class="ml-1">- angular에서 http 서비스 구현</p>
      <p class="ml-1">- RxJs를 활용한 http 데이터 처리</p>
      <p>* 커스텀 directive  구현</p>
      <p class="ml-1">- 마우스 오버 효과 구현</p>
      <p>* 커스텀 파이프 구현</p>
      <p class="ml-1">- 날짜 표시 처리 구현</p>
      <p class="ml-1">- angular 내장 파이프 사용법 리뷰</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="48">
    <mat-card-header>
      <mat-card-title>
        3주차 - 관리자 사이트<a href="/admin">(/admin)</a>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>* angular 애니메이션 적용</p>
      <p class="ml-1">- todo 추가 및 삭제시 애니메이션 넣기</p>
      <p class="ml-1">- key frame을 활용한 단계적으로 애니메이션 하기</p>
      <p>* todo 수정 기능구현</p>
      <p class="ml-1">- ng template를 사용한 두개의 템플릿으로 수정 화면 구현</p>
      <p class="ml-1">- deep copy와 shallow copy의 이해</p>
      <p class="ml-1">- map 컬렉션 적용 및 구현</p>
      <p>* <a href="/admin">관리자</a> 모듈 만들기</p>
      <p class="ml-1">- 모듈만들기, lazy loading 이해</p>
      <p class="ml-1">- SPA 화면 구성</p>
      <p class="ml-1">- 뉴스 등록 로직 구현 - 뉴스 목록 보기, 등록, 수정, 삭제</p>
      <p class="ml-1">- Pagination 로직 구현하기</p>
      <p class="ml-1">- RFC 2397 Data URI 이해, 파일 업로드 구현</p>
      <p class="ml-1">- multi-part 프로토콜 이해 및 angular 구현방법 살펴보기</p>
      <p class="ml-1">- ck-editor 외부 라이브러리로 html editor 구현하기</p>
      <p>* 상태관리 방법</p>
      <p class="ml-1">- React의 Redux 상태관리 방법과 비교</p>
      <p class="ml-1">- 프레임웍과 RxJS를 이용한 상태관리 방법</p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-xs="48">
    <mat-card-header>
      <mat-card-title>
        4주차 - 로그인, 회원가입, 인증
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>* OAuth 2.0 인증 구현</p>
      <p class="ml-1">- 네이버 아이디로 로그인 구현</p>
      <p class="ml-1">- 카카오톡 아이디로 로그인 구현</p>
      <p class="ml-1">- 페이스북 아이디로 로그인 구현</p>
      <p>* 회원 가입</p>
      <p class="ml-1">- 리액티브 스타일 폼 구현</p>
      <p class="ml-1">- jQuery를 angular에 사용하기하여 주소검색 구현하기</p>
      <p class="ml-1">- postcodify 사용하여 주소검색 구현하기, 폼에 바인딩하기</p>
      <p class="ml-1">- 리액티브 폼의 유효성 검증</p>
      <p class="ml-1">- datepicker 적용 및 날짜 데이터 타입 변환</p>
      <p>* 클라이언트 인증로직 구현</p>
      <p class="ml-1">- 모듈에 인증 설정: canLoad</p>
      <p class="ml-1">- 페이지에 인증 설정: canActivate</p>
      <p class="ml-1">- 로그인/로그아웃 화면 구현</p>
      <p>* 서버 인증 로직 구현</p>
      <p class="ml-1">- JWT 프로토콜 소개</p>
      <p class="ml-1">- RFC6265 쿠키,세션과 RFC7519 JWT 토큰 비교</p>
      <p class="ml-1">- http 전송시 jwt 토큰 송신 및 수신 처리</p>
    </mat-card-content>
  </mat-card>
</div>
