<div class="box">
  <h4 classs="title">댓글</h4>

  <div class="container">
    <div class="inner">
      <p *ngIf="member">{{member.nickname}}</p>
      <mat-form-field class="form">
        <textarea matInput [(ngModel)]="newComment.content" #content maxlength="300" placeholder="댓글을 작성하세요"
                (focus)="checkLogin()"
                rows="3"></textarea>
        <mat-hint align="end" style="font-size: 1rem;">{{content.value.length}} / 300</mat-hint>
      </mat-form-field>
    </div>

    <div class="action" fxLayoutAlign="end center">
      <button mat-raised-button color="primary" (click)="saveComment()">등록</button>
    </div>
  </div>

  <div class="list" *ngFor="let comment of commentList">
    <p class="nickname">{{comment.nickname}}</p>
    <p class="content">{{comment.content}}</p>
    <div class="action" fxLayoutAlign="space-between center">
      <span class="updated">{{comment.updated | date: 'yyyy-MM-dd hh:mm'}}</span>
      <button mat-raised-button mat-button-sm color="warn" (click)="confirmDelete(comment)"
              *ngIf="comment.member_id === authService.getMemberId()">삭제</button>
    </div>
  </div>
</div>
